[Unit]
Description=Mattermost permanent user deleter
Documentation=https://github.com/adfinis-sygroup/mattermost-user-deleter

[Service]
Type=oneshot
User=mattermost
Group=mattermost
Environment="MATTERMOST_ROOT=/opt/mattermost"
Environment="MATTERMOST_CONFIG=/opt/mattermost/config/config.json"
ExecStart=/usr/bin/mattermost-user-deleter --mattermost-root=${MATTERMOST_ROOT} \
                                           --config=${MATTERMOST_CONFIG}

[Install]
WantedBy=multi-user.target
