[Unit]
Description=Mattermost permanent user deleter
Documentation=https://github.com/adfinis-sygroup/mattermost-user-deleter

[Service]
Type=oneshot
User=mattermost
Group=mattermost
ExecStart=/usr/bin/mattermost-user-deleter --mattermost-root=/opt/mattermost --config=/opt/mattermost/config/config.json

[Install]
WantedBy=multi-user.target
